<div class="container">
    <div class="row">
        <div class="col-md">
            <p>
                Name: {{name}}<br>
                <a href="https://beatsaver.com/profile/{{id}}"> BeatSaver </a><br>
                <a href="https://beatsaver.com/profile/{{id}}"> <img src="{{avatar}}" /> </a>
            </p>
        </div>
        <div class="col-md-4">
            Total Upvotes: {{stats.totalUpvotes}}<br>
            Total Downvotes: {{stats.totalDownvotes}}<br>
            Total Maps: {{stats.totalMaps}}<br>
            Last Upload: {{stats.lastUpload}}<br>
        </div>

    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">BPM</th>
                    <th scope="col">Upvotes</th>
                    <th scope="col">Score</th>
                    <th scope="col">Cover</th>
                </tr>
            </thead>
            <tbody>
                    {{#each playlist}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.metadata.bpm}}</td>
                        <td>{{this.stats.upvotes}}</td>
                        <td>{{this.stats.score}}</td>
                        <td> <a href="https://beatsaver.com/maps/{{this.id}}"> <img src="{{this.versions.0.coverURL}}"/></a></td>
                    </tr>
                    {{/each}}
            </tbody>
        </table>
    </div>
</div>