<h1>{{title}}</h1>
{{#each tasks}}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{this.TaskName}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"></h6><b>Description: </b>{{this.Description}}</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary"></h6><b>Status: </b>{{this.Status}}</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary"></h6><b>Owner: </b>{{this.Owner}}</h6>
    <br/>
    <a href='/updatetask/{{id}}' class="card-link">Edit Task</a>
  </div>
</div>
{{/each}}